#app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 64px;
  text-align: center;
  background: #9F9F9F;
  color: #0F0F0F
}

#app-nav {
  background-color: #BFBFBF;
  color: #0F0F0F
}

#app-nav ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  list-style: none
}

#app-nav li {
  margin: 8px;
  padding: 4px;
  min-width: 96px;
  text-align: center;
  background-color: #7F7F7F;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s
}

#app-nav li:hover {
  color: white;
  background-color: black
}

#app-nav a:link,
#app-nav a:visited {
  color: white;
  text-decoration: none;
}

main {
  flex: 1 0 auto;
  background-color: #DFDFDF;
  color: #0F0F0F
}

#app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 64px;
  text-align: center;
  background: #9F9F9F;
  color: #0F0F0F
}