#app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 64px;
  text-align: center;
  background: rgb(69, 0, 133);
  color: #F0F0F0
}

#app-header * {
  margin: 4px
}

#app-nav {
  height: 48px;
  background: rgb(97, 0, 187);
  color: #0F0F0F
}

#app-nav ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  list-style: none
}

#app-nav li {
  display: table;
  margin: 4px;
  height: 28px;
  min-width: 120px;
  text-align: center;
  background-color: rgb(177, 80, 0);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.25s
}

#app-nav li:hover {
  color: white;
  background-color: rgb(252, 135, 40);
}

#app-nav a {
  vertical-align: middle;
  display: table-cell;
}

#app-nav a:link,
#app-nav a:visited {
  color: white;
  text-decoration: none;
}

.active-navlink {
  background-color: rgb(255, 115, 0);
  transition: all 0.5s
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  /* background: rgb(222, 188, 255); */
  color: #0F0F0F
}

#form-sign-up {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 20px #0F0F0F;
  background-color: rgb(228, 102, 0);
  color: #F0F0F0
}

#form-sign-up * {
  margin: 4px
}

#form-sign-up button {
  margin: 4px auto;
  width: 128px;
  height: 36px;
  font-size: 20px
}


#form-sign-in {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 20px #0F0F0F;
  background-color: rgb(228, 102, 0);
  color: #F0F0F0
}

#form-sign-in * {
  margin: 4px
}

#form-sign-in button {
  margin: 4px auto;
  width: 128px;
  height: 36px;
  font-size: 20px
}

#section-franchise-tiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  flex-flow: wrap;
  margin: 0 auto;
  width: auto
}

.article-franchise-tile {
  margin: 8px;
  width: 128px;
  height: 128px;
  border-radius: 4px;
  border: 4px solid transparent;
  background-color: #BFBFBF;
  display: inline-block;
  transition: all 0.5s
}

.article-franchise-tile:hover {
  border-color: #0F0F0F;
  background-color: #9F9F9F
}

#app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 64px;
  text-align: center;
  background: rgb(69, 0, 133);
  color: #F0F0F0
}