ul {
  list-style: none
}

li {
  display: table;
  margin: 2px auto;
  width: 80px;
  font-size: 14px;
  color: #F0F0F0;
  background-color: #B15000;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.25s
}

li:hover {
  background-color: #FF7300
}

a {
  vertical-align: middle;
  display: table-cell;
}

a:link,
a:visited {
  color: #F0F0F0;
  text-decoration: none;
}

#h6-not-logged-in {
  color: red
}

#h6-logged-in {
  color: lime
}
